application-name: shopping-cart

app-url: https://github.com/chook/ShoppingCart
app-branch: master

overops-host: https://api.overops.com
overops-api-key: <replaceme>
overops-environment-id: <replaceme>
overops-installation-key: <replaceme>

s3-access-key: <replaceme>
s3-access-secret: <replaceme>
s3-bucket: <replaceme>
