<?xml version="1.0" encoding="UTF-8"?>
<suite name="ShoppingCartSuite" parallel="false">
  <test name="ShoppingCartTests">
    <classes>
      <class name="com.shoppingcart.test.CustomerTest"/>
      <class name="com.shoppingcart.test.SkuTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->